<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - BallerinaCappucina</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #FFFCF5;
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
        }

        header {
            background-color: #FFFCF5;
            padding: 30px 15px;
            text-align: center;
        }

            header h1 {
                font-style: italic;
                font-size: 2.5rem;
                color: #FAB7CF;
                margin: 0;
            }

        
        @@media (max-width: 768px) {
            header h1 {
                font-size: 1.5rem;
            }
        }

        .container-fluid {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>BallerinaCappucina Coffeehouse</h1>
    </header>

    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
